html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    /* для более интуитивного обзначения размеров. по умолчанию content-box  это ширина width+borderwidth*/
}

body {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
}

/* header begin */

header {
    border-bottom: 1px solid #d9fff5;


}

main {
    background-color: #F8F8F8;
}

.header__container {
    padding-left: 16px;
    padding-right: 16px;

}

.header__menu {
    height: 88px;
    display: flex;
    justify-content: space-between;
}

.header__menu_container_burger-logo-hr {
    display: flex;
    align-items: center;
    
}

.header__menu_container_button-hr {
    display: flex;
    align-items: center;
}

.header__menu_container_button_hidden,
.header__hr_second {
    display: none;
}

.header__menu_button-burger,
.header__menu_logo {
    margin-right: 16.73px;
}

#call,
#chat,
#profile,
#repair,
#second-hr {
    margin-right: 16px;

}

.header__hr,
.header__hr_second {
    background: #EAEAEA;
    border-radius: 1px;
    border: 0;
    width: 2px;
    height: 32px;
}



/* header end */

/* article begin */

.main__hr_highlight {
    width: 4px;
    height: 40px;
    border: 0;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 10px 0% 0% 10px;
    margin-left: 0px;
    margin-top: 0px;
    flex: 0 0 4px;

}

.active-string {
    content: '';
    opacity: 1;
    position: absolute;
    width: 4px;
    height: 30px;
    border: 0;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 10px 0% 0% 10px;
    margin-left: -16px;
    margin-top: -3px;
    
}




.main__article_container {
    display: flex;
    padding-top: 24px;
    height: 40px;
    justify-content: space-between;

}

.main__article_hr_text_container {
    display: flex;

}


.main__article__text {
    font-family: "TT Lakes";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1b1c21;
    font-weight: bold;
    width: 288px;
    height: 40px;
    margin-left: 12px;
    margin-top: 0px;
    vertical-align: center;
}

.main__article_button_container {
    display: none;
    white-space: nowrap;
    text-decoration: none;

}

.main__article_button_container a {
    color: #1b1c21;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.article__button_container {
    display: flex;
    align-items: center;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 40px;

}

.button__container_a_text {
    margin-right: 8px;
    padding-right: 50px;
}

/*article end*/

/*menu begin*/

.main__nav {
    display: flex;
    overflow: auto;
    padding: 40px;
}

.main__nav::-webkit-scrollbar {
    display: none;
}

.main__nav_text {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
}

.main__nav a {
    color: #7E7E82;
    text-align: start;
    background-color: #fff0;
    border-radius: 6px;
    padding: 8px 9.3px 8px 16.54px;
    border-bottom: 0px;
    margin: 0px;
    outline: 2px solid #b8ffec00;
    transition: .5s;
    white-space: nowrap;
    text-decoration: none;
}

.main__nav a:active,
.main__nav a:focus {
    outline: 2px solid #B8FFEC;
    background-color: #fff;
}

/*menu end*/

/*main text begin*/

.read-more-checker {
    /*спрятал чекер с галочкой*/
    opacity: 0;
    position: absolute;
}

br {
    margin-top: 28px;
}

.main__p_text {
    min-width: 288px;
    max-width: 540px;
    max-height: 90px;
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0px;

    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 18px;

}

.text {
    max-height: 0px;

}

.read-more-checker:checked~.text {
    /*применяется для всех элементов с классом text, после перевода в статус checked элемента с классом read-more-checker*/
    max-height: none;

}


.read-more-button {
    margin-top: 16px;
    margin-left: 24px;
}

.main__button_text {

    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    color: #1b1c21;
    padding-left: 16px;
    font-weight: 500;
}

/*main text end*/

/*main img begin*/

.main__img img {

    width: 100%;

    object-fit: cover;
    object-position: bottom;


}

/*main img end*/

/* media begin*/

@media screen and (min-width:767px) and (max-width:1118px) {

    .header__menu_container_button_hidden,
    .header__hr_second {
        display: flex;

    }

    .header__menu_container_burger-logo-hr :nth-child(2) {
        order: 2;

    }

    .header__hr {
        margin-right: 20.73px;
    }

    .main__p_img_container {
        display: flex;
        justify-content: center;
    }

    .main__img img {
        min-width: 360px;
        min-height: 208px;
        border-radius: 2%;
        margin-right: 25px;
    }

    .header__container {
        padding-left: 24px;
        padding-right: 24px;

    }

    .text {
        max-height: 35px;
    }

    .main__p_text {
        min-width: 312px;
        max-width: 1000px;

        margin-left: 24px;
        margin-right: 48px;

    }

    .main__article__text {
        margin-left: 20px;
    }

}

@media screen and (min-width:1119px) {
    header {
        display: none;
    }

    .main__article__text {
        margin-left: 40px;
    }

    .main__article_button_container {
        display: flex;
        margin-right: 32px;
    }

    .main__p_img_container {
        display: flex;
        justify-content: center;
    }

    .main__img img {
        min-width: 531.35px;
        min-height: 307px;
        border-radius: 2%;
        margin-right: 28.65px;
    }

    .main__nav {
        flex-wrap: wrap;
    }


}


/*media end*/


/*Дроп меню*/

.header__menu_drop-menu {
    display: block;
    position: absolute;
    width: 320px;
    
    
    top: 0%;
    left: 0%;
    transform: translateY(88px);
    background-color: #fff;
    box-shadow: 16px 0px 24px -13px rgba(34, 60, 80, 0.18);
    z-index: 1;
    opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
    transition: .5s ease-in-out;
}

.visibility {
    opacity: 1;
    transform: scaleY(1);
}

.menu-burger {
    z-index: 2;
}


.drop-menu__list {
    list-style-type: none;
    margin-top: 120px;
}

.drop-menu__list > li {
    position: relative;
    margin-bottom: 32px;
    
    
}



.drop-menu__list a {
    text-decoration: none;
    color: #1b1c21;
    padding: 5px;
}

.drop-menu__list a:focus {
    background: url(/highlight/highlight.svg) no-repeat;
    background-position: left;
    opacity: 0.5;
}

.drop-menu__list a:hover {
    color: #7E7E82;
    
}

.drop-menu__search-btn {
    position: absolute;
    transform: translateX(250px) translateY(23px);

}
/*Footer drop menu*/

.drop-menu__footer {
    display: block;
    font-family: "TT Lakes";
    margin-left: 24px;
    margin-top: 268px;
}

.drop-menu__footer a {
    display: block;
    text-decoration: none;
    color: #1b1c21;
}

.footer__button-container {
    display: flex;
}

.footer__lang-box {
    display: flex;
    margin-top: 40px;
    font-size: 16px;
}
.footer__lang-box a {
    margin-right: 7px;
}

.footer__lang-box a:focus {
    opacity: 0.5;
}

.drop-menu__email,
.drop-menu__phone {
    margin-top: 16px;

}

.drop-menu__email {
    font-size: 16px;
}

.drop-menu__phone {
    font-size: 24px;
    font-weight: bold;
}



/* Кнопки css */
.menu-btn a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    position: relative;
}

#menuBurg span {
    display: block;
    content: '';
    position: absolute;
    
    margin-top: -8px;
    left: 50%;
    margin-left: -9px;
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    transition: 0.5s;
    opacity: 0;
}

#menuBurg span:nth-child(1) {
    top: 50%;
    width: 18px;
    opacity: 1;

}

#menuBurg span:nth-child(2) {
    top: 70%;
    width: 10px;
    opacity: 1;
}

#menuBurg span:nth-child(3) {
    top: 90%;
    width: 14px;
    opacity: 1;
}

#menuBurg.menu-burger-open span:nth-child(1) {
    width: 27px;
    transform: translateX(-4.5px) translateY(8px) rotate(45deg);
    
}

#menuBurg.menu-burger-open span:nth-child(2) {
    width: 0%;
    opacity: 0;

}

#menuBurg.menu-burger-open span:nth-child(3) {
    width: 27px;
    transform: translateX(-4.5px) translateY(-8px) rotate(-45deg);

}



/*
.menu-btn span {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -9px;
    width: 10px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    transition: 0.5s;
    
}

.menu-btn span::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -5px;
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;

}

.menu-btn span::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: 6px;
    left: 50%;
    margin-left: -5px;
    width: 14px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    
}
*/


#call {
    background-image: url(/ic-call/call.svg);
}

#chat {
    background-image: url(/ic-chat/chat.svg);
}

#profile {
    background-image: url(/ic-profile/profile.svg);
}

#repair {
    background-image: url(/ic-repair/repair.svg);
    background-repeat: no-repeat;
    background-position: right;
}

#checkstatus {
    background-image: url(/ic-checkstatus/checkstatus.svg);
    background-repeat: no-repeat;
    background-position: right;
}

#search {
    background-image: url(/ic-search/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/*Логотип css*/

.header__menu_logo {
    background-image: url(/logo/Group.svg);
    background-repeat: no-repeat;
    width: 98px;
    height: 52px;
    position: relative;
    margin-left: 17px;
    z-index: 2;
}


/*анимация кнопки бургер*/
/*
.menu-burger-open span {
    
 
  }
  
  .menu-burger-open span::before,
  .menu-burger-open span::after {
    transition: 0.5s;
    
  }
  
  .menu-burger-open span::before {
    transform: translateY(7.5px) translatex(-2px) rotate(45deg);
    width: 22px;
  }
  
  .menu-burger-open span::after {
    transform: translateY(-7.5px) translatex(-2px) rotate(-45deg);
    width: 22px;
  }
/*
