html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
}

/* header begin */

header {
    border-bottom: 1px solid #d9fff5;
    
    
}

.header__container {
    padding-left: 16px;
    padding-right: 16px;
    
}

.header__menu {
    height: 88px;
    display: flex;
    justify-content: space-between;
}

.header__menu_container_burger-logo-hr {
    display: flex;
    align-items: center;

}

.header__menu_container_button-hr {
    display: flex;
    align-items: center;
}

.header__menu_container_button_hidden, .header__hr_second {
    display: none;
}

.header__menu_button-burger, .header__menu_logo {
    margin-right: 16.73px;
}

#call, #chat, #profile, #repair, #second-hr {
    margin-right: 16px;

}

.header__hr, .header__hr_second {
    background: #EAEAEA;
    border-radius: 1px;
    border: 0;
    width: 2px;
    height: 32px;
}



/* header end */

/* article begin */

.main__hr_highlight {
    width: 4px;
    height: 40px;
    border: 0;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 10px 0% 0% 10px;
    margin-left: 0px;
    margin-top: 0px;
    flex: 0 0 4px;
    
}

.main__article_container {
    display: flex;
    width: 304px;
    margin-top: 24px;
    height: 40px;
    
}

.main__article__text {
    font-family: "TT Lakes";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1b1c21;
    font-weight: bold;
    width: 288px;
    height: 40px;
    margin-left: 0px;
    margin-top: 0px;
    vertical-align: center;
}

/*article end*/

/*menu begin*/

.main__nav {
    display: flex;
    overflow: auto;
    padding: 10px;
}

.main__nav::-webkit-scrollbar {
    display: none;
    }
    
.main__nav_text {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
}
    
.main__nav a {
    color: #7E7E82;
    text-align: start;
    background-color: #fff0;
    border-radius: 6px;
    padding: 8px 9.3px 8px 16.54px;
    border-bottom: 0px;
    margin: 0px;
    outline: 2px solid #b8ffec00;
    transition:.5s;
    white-space: nowrap;
    text-decoration: none;
}
    
.main__nav a:active, .main__nav a:focus { 
    outline: 2px solid #B8FFEC;
    background-color: #fff;
}

/*menu end*/

/*main text begin*/

.read-more-checker {        /*спрятал чекер с галочкой*/
    opacity: 0;
    position: absolute;
}

br {
    margin-top: 28px;
}

.main__p_text {
    min-width: 288px;
    max-width: 540px;
    max-height: 90px;
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0px;

    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 18px;
    
}

.text {
    max-height: 0px;

}

.read-more-checker:checked ~ .text {
    max-height: none;
    
}


.read-more-button {
margin-top: 16px;
margin-left: 24px;
}

.main__button_text {
   
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    color: #1b1c21;
    padding-left: 16px;
    font-weight: 500;
}

/*main text end*/

/*main img begin*/

.main__img img {
    
width: 100%; 

object-fit: cover; 
object-position: bottom; 
    

}

/*main img end*/

/* media begin*/

@media screen and (min-width:767px) and (max-width:967px) {
.header__menu_container_button_hidden, .header__hr_second  {
    display: block;
    
}

.header__menu_container_burger-logo-hr :nth-child(2) {
    order: 2;

}

.header__hr {
    margin-right: 20.73px;
}

.main__p_img_container {
    display: flex;
}

.main__img img{
    min-width: 360px;
    min-height: 208px;
    border-radius: 2%;
    margin-right: 25px;
}

.header__container {
    padding-left: 24px;
    padding-right: 24px;

}

.text {
    max-height: 35px;
}
.main__p_text {
    min-width: 312px;
    max-width: 1000px;
    
    margin-left: 24px;
    margin-right: 48px;

}

}
/*media end*/